<style>
  .product-search {
    padding-top: 20px;
    padding-right: 10px;
}
  .color-size {
    padding-top: 20px;
    padding-left: 10px;
}
  .shop-stock {
    padding-top: 16px;
    padding-bottom: 20px;
    text-align: center;
}

  @media (min-width: 1024px) {
.img-buttons-omnichanel {
    padding-left: 90px;
}
}
</style>

<div class="page-width">
  <div class="grid">
    <!--<img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/Imagen1_02001067-ab44-404d-9777-ed10a37db79e.jpg?v=1660603147" width="720" height="221">-->
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% section 'texto-omnichanel' %}
      {% section 'video-tbx-omnichanel' %}
      <div class="img-buttons-omnichanel" style="display:flex;">
        <div class="product-search">
        <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/TBX-LANDING-OM-1-2-1.gif?v=1661550721" alt="Girl in a jacket">
        </div>
        <div class="color-size">
          <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/TBX-LANDING-OM-1-2-2.gif?v=1661550721" alt="Girl in a jacket">
        </div>
      </div>
      <div class="img-buttons-omnichanel-v2">
        <div class="shop-stock">
        <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/TBX-LANDING-OM-3.gif?v=1661550721" alt="Girl in a jacket" >
        </div>
        </div>
     
      <div class="img-buttons-omnichanel-v2">
        <div class="shop-stock">
      <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/ICONOS-FILA_1.jpg?v=1660691401">
           </div>
        </div>
    </div>
  </div>
</div>

