<style>
  @font-face {
  font-family: "dealerplate";
  font-weight: 400;
  src: url("https://cdn.shopify.com/s/files/1/0593/6300/0520/files/dealerplate_california_1.ttf?v=1654296690") format("truetype");
  }

  @font-face {
    font-family: "dealerplate";
    font-weight: 600;
    src: url("https://cdn.shopify.com/s/files/1/0593/6300/0520/files/dealerplate_california_1.ttf?v=1654296690") format("truetype");
  }
  @font-face {
    font-family: "dealerplate";
    font-weight: 800;
    src: url("https://cdn.shopify.com/s/files/1/0593/6300/0520/files/dealerplate_california_1.ttf?v=1654296690") format("truetype");
  }
  @font-face {
    font-family: "avenir";
    font-weight: 400;
    src: url("https://cdn.shopify.com/s/files/1/0593/6300/0520/files/Avenir.ttc?v=1654296592") format("truetype");
  }

  @font-face {
    font-family: "avenir";
    font-weight: 600;
    src: url("https://cdn.shopify.com/s/files/1/0593/6300/0520/files/Avenir.ttc?v=1654296592") format("truetype");
  }
  @font-face {
    font-family: "avenir";
    font-weight: 800;
    src: url("https://cdn.shopify.com/s/files/1/0593/6300/0520/files/Avenir.ttc?v=1654296592") format("truetype");
  }
  .landing-dia-del-padre h2, .landing-dia-del-padre .r-3ups-description-wrapper p {
    font-family: 'dealerplate';
	font-weight: 400 !important;
    font-size: 14.02px !important;
    line-height: 15px !important;
  }
  .landing-dia-del-padre, .landing-dia-del-padre p {
  	font-family: "avenir";
   	font-weight: 400 !important;
    font-size: 14.02px !important;
    line-height: 15px !important;
    letter-spacing: -0.02em !important;
  }
  @media screen and (min-width: 768px) {
    .landing-dia-del-padre h2, .landing-dia-del-padre .r-3ups-description-wrapper p {
        font-size: 37.9869px !important;
      	line-height: 41px !important;
      	margin-bottom: 25px !important;
    }
    .landing-dia-del-padre, .landing-dia-del-padre p  {
      font-weight: 400 !important;
      font-size: 31.7226px !important;
      line-height: 34px !important;
    }
  }
  
</style>

<div class="page landing landing-dia-del-padre">
	{% section 'slideshow-dunkelvolk-etnia' %}
  	{% section 'rich-text-dunkelvolk-etnia' %}
  	{% section 'video-dunkelvolk-etnia' %}
  	{% section 'image-bar-dunkelvolk-2' %}
    {% section 'video-dunkelvolk-etnia-2' %}
  	{% section 'splitted-video-dunkelvolk-etnia' %}
   	{% section 'images-bar-dunk-etnia' %}
</div>