<style>
  .page-landing .page-width {
  		padding-left: 0;
    	padding-right: 0;
  }
/*   .page-lading .page-width {
    padding: 0;
  } */
  .page-landing .grid__item {
  	padding: 0;
  }
</style>

<div class="page page-lading">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item">
<!--         <div class="section-header text-center">
          <h1></h1>
        </div> -->

        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>