<style>
  .landing-dia-del-padre h2 {
	font-weight: 500 !important;
  	font-size: 1.3rem !important;
  }
  @media screen and (min-width: 768px) {
    .landing-dia-del-padre h2 {
    	font-size: 28px !important;
      	margin-bottom: 25px !important;
    }
  }
</style>

<div class="page landing landing-dia-del-padre">
	{% section 'slideshow-thebox-4' %}
  	{% section 'slideshow-mobile-thebox-4' %}
    {% section 'image-bar-thebox' %}
  	{% section 'image-bar-thebox-3' %}
  	{% section 'image-bar-thebox-2' %}
   	<!--{% section 'slideshow-thebox-2' %}
  	{% section 'slideshow-mobile-thebox-2' %}-->
</div>

