

<style>
  .page-container {
    background: black;
  }
  .f-width.page-width {
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  .f-width.page-width .grid-item {
    width: 100%;
    left: 0;
  }
  .main-content {
    padding-top: 0px;
  }
  .custom-page.f-width.page-width {
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  .landing-art-for-help {
  	background: #000;
    color: #fff;
  }
  .landing-art-for-help .rte {
	color: #fff;
  }
  .video-outer {
    margin: 30px auto;
    width: 100;
    text-align: center;
  }
  .landing-art-for-help .title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .landing-art-for-help .organizations .organization {
    display: inline-block;
    vertical-align: top;
    width: 84%;
    margin: auto;
    margin-bottom: 30px;
  }
  .landing-art-for-help .organizations .organization p {
    color: #c7c7c7;
    text-align: justify;
    line-height: 20.5px;
  }
  .landing-art-for-help .about-art-for-help {
  	margin: auto;
    margin-top: 60px;
    width: 85%;
  }
  .landing-art-for-help .about-art-for-help .banner {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .landing-art-for-help .about-art-for-help .text {
    width: 100%;
    color: white;
    display: inline-block;
    vertical-align: top;
  }
  .landing-art-for-help .about-art-for-help .text .title {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .landing-art-for-help .about-art-for-help p {
    color: #c7c7c7;
    text-align: justify;
    line-height: 20.5px;
  }
  @media(min-width: 768px) {
    .landing-art-for-help .organizations {
    	margin-bottom: 40px;
    }
    .landing-art-for-help .organizations .organization {
      margin: inherit;
      width: 36%;
    }
    .landing-art-for-help .organizations .organization:first-of-type {
      margin-right: 70px;
    }
    .landing-art-for-help .about-art-for-help {
	  margin-top: 99px;
      width: 81%;
  	}
    .landing-art-for-help .about-art-for-help .banner {
      width: 40%;
      margin-right: 5%;
  	}
    .landing-art-for-help .about-art-for-help .text {
      width: 54%;
    }
    .landing-art-for-help .about-art-for-help .text .title {
      margin-top: 0;
      margin-bottom: 25px;
    }
    .landing-art-for-help .about-art-for-help.right .text {
      width: 55%;
      margin-right: 5%;
      margin-bottom: 35px;
    }
    .landing-art-for-help .about-art-for-help.right .banner {
    	width: 39%;
    	margin-right: 0;
    }
  }
  @media only screen  and (min-width : 1224px) {
    .landing-art-for-help .title {
      letter-spacing: 0.2rem;
      font-size: 1.6rem;
    }
    .landing-art-for-help .organizations .organization {
      width: 25%;
    }
    .landing-art-for-help .organizations .organization p {
      font-size: 1.1rem;
  	}
    .landing-art-for-help .about-art-for-help .text .title {
      margin-bottom: 40px;
    }
    .landing-art-for-help .about-art-for-help .text {
      font-size: 1.2rem;
      width: 45%;
    }
    .landing-art-for-help .about-art-for-help.right .text {
      width: 47%;
    }
  }
</style>

<div class="page-width f-width page-custom landing-art-for-help">
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        <div class="custom-page f-width">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="banner">
                  <a href="https://thebox.com.pe/products/polo-para-hombre-dunkelvolk-ts-positive-bl">
                    <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/Banner-Landing.jpg?v=1594848313"
                    alt="" width="100%" style="width: 100%" />
                  </a>
                </div>
                <div class="video-outer">
    				<video controls="controls" style="max-width: 100%; height: auto;" poster="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/24312432.png?v=1594848518">
                      <source src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/art-for-help-video.mp4?v=1594848482" type="video/mp4" />
                    Tu navegador no soporta el reproductor de video.
                    </video>
                </div> 
                <div class="title">
                  ¿QUIÉNES SON LAS ORGANIZACIONES BENEFICIADAS?
                </div>

                <div class="organizations">
                  <div style="text-align: center;">
                    <div class="organization col-md-6">
                      <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/Ruwasunchis_logo_480x480.png?v=1594848378" height="180px" width="180px" />
                      <p style="margin-top: 35px">
                      	Esta organización promueve tres aristas:  una plataforma de oportunidades que promueve el crecimiento personal y técnico de tejedoras de comunidades 
                        peruanas. Para los jóvenes, un espacio de encuentro, donde desarrollan habilidades y se les conecta con oportunidades de estudio y trabajo. 
                        Y, para los niños, una propuesta pedagógica de juego y aprendizaje libre. Una mirada de respeto a la individualidad y procesos de autonomía.
                      </p>
                    </div>
                    <div class="organization col-md-6">
                      <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/Alto_logo_480x480.png?v=1594848353" alt="" height="180px" width="180px" />
                      <p style="margin-top: 25px">
                        Es una organización que ayuda a los jóvenes del barrio que lleva el mismo nombre, en el que es difícil crecer debido a la violencia, 
                        delincuencia y tráfico de drogas. Sin embargo, por la cercanía al mar, empezaron a llevar a los niños del barrio a la playa a aprender a surfear, 
                        con el propósito de generar un cambio, haciendo la conexión con la naturaleza y el deporte.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="about-art-for-help">
                  <div class="banner">
                    <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/ArtforHelp_logo_480x480.jpg?v=1594848404" alt="" width="480" height="480" />
                  </div>
                  <div class="text">
                    <div class="title">
                      ¿DE QUÉ SE TRATÓ ART FOR HELP?
                    </div>
                    <p>
                      Desde la plataforma de artistas emergentes de Dunkelvolk, llamada Join Art, se organizó una convocatoria a través de las redes sociales de la marca, 
                      para incentivar la creatividad de los seguidores que tengan esa vena artística, tomando como punto de partida, el contexto de la pandemia.
                    </p>
                    <p>
                      Y, que sus propuestas dieran un mensaje de mantenerse positivos en medio de la coyuntura global. Dando así, visibilidad a decenas de talentos desconocidos, 
                      por un propósito en común, ayudar a las familias de estas organizaciones.
                    </p>
                    <p>
                      Ya que, una vez escogido el ganador, se produjeron 200 polos, es decir, una edición limitada de esta prenda, para que, con la compra de cada uno, 
                      se estaría aportando S/20 a Alto Perú y Ruwasunchis.
                    </p>
                  </div>
                </div>
               	
                
                <div class="about-art-for-help right">
                  <div class="text">
                    <div class="title">
                      ¿QUIÉN ESTÁ DETRÁS DEL DISEÑO?
                    </div>
                    <p>
                      Arturo Pereda, es un joven arquitecto, quien pasó todos los filtros del concurso, hasta ser elegido por el mismo público de Dunkelvolk, 
                      como el ganador, con un arte que expresó a la perfección lo que representa la coyuntura, para el público joven.
                    </p>
                  </div>
                  <div class="banner">
                    <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/ArtforHelp_Arte_480x480.jpg?v=1594848429" alt="" width="480" height="480" />
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>