<style>
  .title-landing.square {
    background: #3D70A3;
    color: white;
    padding: 10px;
    border-radius: 16px 45px;
    text-align: center;
}
  @media screen and (min-width: 768px) {
    .seguidores-instagram h2 {
        font-size: 28px !important;
        margin-bottom: 25px !important;
      }
    }
  @media (max-width: 600px) {
    .landing.seguidores-instagram .slideshow {
      min-height: 300px!important;
    }
    p.numbers {
        padding: 2px 12px!important;
      }
    }
    .contest-content {
      margin: auto;
      width: 700px;
      max-width: 100%;
    }
    .title-landing {
      font-size: 28px;
      font-weight: 700;
      font-family: sans-serif;
      color: #000;
      margin-bottom: 20px;
    }
    p.text-followers {
        font-weight: 500;
        font-size: 18px;
    }
    ol.list-details {
      font-weight: 500;
      padding-left: 50px;
      padding-bottom: 25px;
    }
    ol.list-details, p.text-followers {
      font-size: 21px;
    }
    .section-followes {
      padding-left: 70px;
    }
    .title-landing.fix {
        margin-top: 40px;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 40px;
      }
    }
    .title-landing.square {
      background: #3D70A3;
      color: white;
      padding: 10px;
      border-radius: 16px 45px;
      text-align: center;
    }
    p.text-followers {
      padding-right: 15px;
    }
    .list-details a {
      color: #12579c;
      text-decoration: underline !important;
    }
    a.btn.btn-primary {
      font-size: 13px!important;
	}
    .landing.seguidores-instagram .banner-html-tbx-v2_banner-counter-html-tbx-v2-page .banner-x {
      position: relative;
      padding-bottom: 0;
    }
    .landing.seguidores-instagram .banner-html-tbx-v2_banner-counter-html-tbx-v2-page .banner-x .banner-x-description {
      font-weight: bold;
      position: absolute;
      top: 0;
    }
    .list-details.fix li {
      padding-bottom: 20px;
    } 
    @media (max-width: 767px) {
      .landing.seguidores-instagram .banner-html-tbx-v2_banner-counter-html-tbx-v2-page {
        padding-top: 5px;
      }
      .landing.seguidores-instagram .banner-html-tbx-v2_banner-counter-html-tbx-v2-page .banner-x {
        min-height: 0px;
        position: absolute;
        padding-top: 5px;
      }
      .landing.seguidores-instagram .counter-mobile img {
        margin-top: 10px;
      }
      .section-followes {
        padding-left: 30px;
        padding-right: 30px;
      }
      .title-landing {
        font-size: 19px;
      }
      .title-landing.fix {
        font-size: 19px;
        font-weight: 100px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ol.list-details {
        font-size: 18px;
        padding-left: 0;
      }
      .list-details.fix li {
        padding-bottom: 0px;
      } 
      p.text-followers {
        font-size: 18px;
      }
    }
    .landing.seguidores-instagram .slideshow {
      min-height: 180px;
    }
</style>

<div class="page landing seguidores-instagram">
	{% section 'slideshow-instagram-tbx-v2' %}
  	{% section 'banner-counter-html-tbx-v2-page' %}

   <div class="contest-content">
    <div class="section-followes">
      <div class="title-landing fix">PARA PARTICIPAR: </div>
      <ol class="list-details fix" type="number" style="padding-left: 5px; font-weight: bold;">
        <li style="display: -webkit-inline-box;"><p class="numbers" style="padding: 2px 14px;background: #000;border-radius: 100%;margin-right: 10px;color: #fff;" @media (max-width: 600px) {}">1</p> Inscríbete en <a href="https://thebox.com.pe/account/register?return_url=/pages/registro-exitoso?source=landing%26campaign=instafollow">thebox.com.pe  <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/salida.png?v=1668556666" width="20" height="20" style="position: relative; top: 7px;left: 7px;"></a> </li>
        <li style="display: -webkit-inline-box;"><p class="numbers" style="padding: 2px 14px;background: #000;border-radius: 100%;margin-right: 10px;color: #fff;"">2</p><a href="https://www.instagram.com/theboxperu/?hl=es-la">Síguenos en Instagram<img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/instagram_5e4bda39-e847-4065-b056-0d79b1377194.png?v=1668558784" width="20" height="20" style="position: relative; top: 7px;left: 7px;"></a></li>
        <li style="text-align: center;font-weight: 500;">Cumpliendo estos pasos podrás participar en el sorteo</li>
      </ol>
    </div>
  
    <div class="section-followes">
      <div class="title-landing square">Detalles del sorteo</div>
      <ol class="list-details" type="circle" style="background: #e6e6e6;padding-top: 20px;padding-left: 20px;">
        <li style="padding-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/office365-ACFFE04138796FC07E860541CF07BB15.png?v=1668438204" width="45" height="40" style="vertical-align: middle;"><span style="vertical-align: middle;"><b>Fecha de Inicio:</b> 19 de noviembre de 2022, 00:00:00</span></li>
        <li style="padding-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/medium.png?v=1668438204" width="45" height="40" style="vertical-align: middle;"><span style="vertical-align: middle;"><b>Fecha de Cierre:</b> 04 de diciembre de 2022, 23:59:59</span></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/241509.png?v=1668566211" width="40" height="35" style="vertical-align: sub;margin-right: 5px;margin-left: 2px;"><b>Fecha de Sorteo:</b> 05 de diciembre de 2022, 23:59:59</li>
      </ol>
      
      <p class="text-followers" style="margin-top: 30px;">1.&nbsp;Entérate sobre nuestros <u><a href="https://thebox.com.pe/pages/terminos-y-condiciones#Concurso-Instagram">Términos y Condiciones</a></u></p>
      <p class="text-followers">2.&nbsp;Conoce mas sobre nuestra <u><a href="https://thebox.com.pe/pages/privacidad-y-confidencialidad">Política de Privacidad.</a></u></p>
    </div>
    
   </div>
</div> 
    
    