<style>
  .page-width {
    padding-top: 50px!important;
}
  .page-width.page.page-brands {
    padding-top: 80px!important;
}
</style>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% section 'brands-grid' %}
    </div>
  </div>
</div>
